<ion-menu *ngIf="iniciado!=false" [content]="content">
  <ion-header>
    <ion-toolbar *ngIf="iniciadomenu!=false">
      <ion-title>Hola {{this.name}}</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="iniciadomenu!=true">
      <ion-title>Inicia la sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="iniciadomenu!=false">
    <button menuClose ion-button full (click)="logout()">
     Logout
    </button>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
