<ion-content>

  <div id="content" style="margin-top: 70px;">
    <div id="profile-info">
      <img id="profile-image" src="http://147.83.7.156:3500/imagesprof//{{user._id}}.png">
      <h3 id="profile-name">{{user.name}}</h3>
      <span id="profile-description">User since <time>{{date | amTimeAgo}}</time></span>
    </div>
  </div>

  <ion-list no-lines>

    <ion-item-sliding *ngFor="let review of reviews">

      <ion-item>

        <ion-avatar item-left>
          <img src="http://147.83.7.156:3500/imagesprof//{{review.reviewerid}}.png">
        </ion-avatar>

        <h2>{{review.title}}</h2>
        <p>{{review.description}}</p>

        <ion-icon *ngIf="review.rating < 3" danger name="sad"></ion-icon>
        <ion-icon *ngIf="review.rating >= 3" secondary name="happy"></ion-icon>
        {{review.rating}}
        <ion-note  item-right="" style="font-size: x-small">{{review.reviewername}}</ion-note>
      </ion-item>

      <ion-item-options *ngIf="review.itsme!=false">
        <button ion-button color="danger" (click)="deleteReview(review)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
