<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Anuncios</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding="" >

  <ion-grid no-padding="" margin="0">
    <ion-row *ngFor="let row of grid" no-margin="" no-padding="" style="height:150%">
      <ion-col  width-50 *ngFor="let image of row" no-margin="" no-padding="" style="height:150%">
        <div *ngIf="image!=null"  style="height:150%">
          <ion-card style="height:150%" >
            <img src="http://10.193.155.95:3500/images/150x/{{image.imageurl}}.png" (click)="detalle(image);" style="width: 100%">
            <ion-card-content>
              <ion-card-title>
                {{image.title}}
              </ion-card-title>
              <p>
                {{image.description}}
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
