<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Anuncios</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-margin="">

  <ion-grid >
    <ion-row *ngFor="let row of grid" no-margin="" no-padding="" style="height:100%">
      <ion-col  width-50 *ngFor="let image of row" no-margin="" no-padding="" style="height:100%">
        <div *ngIf="image!=null" no-margin="" no-padding="" style="height:100%">
          <ion-card no-margin=""  style="height:100%">
            <img src="http://10.193.155.95:3500/images/150x/{{image.imageurl}}.png" (click)="detalle(image);">
            <ion-card-content>
              <ion-card-title>
                {{image.title}}
              </ion-card-title>
              <p>
                {{image.description}}
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
